@model IEnumerable<AssHoleSite.Models.CategoryC>
<div>
    @foreach (var category in Model)
    {
        <ul>
            <li><a href="@Url.Action("GetFiltered","Home",new { parent = category })">@category.Name</a></li>
        </ul>
    }
</div>
